.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

/* Loops to enumerate the classes for gallery columns. */
@each $i in 2,3,4,5,6,7,8,9 {

	.gallery-columns-$(i) {
		grid-template-columns: repeat($(i), 1fr);
	}
}

.gallery-caption {
	display: block;
}
